<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestFull Booking Test Suite">
    <listeners>
        <listener class-name="listener.TestListeners"></listener>
    </listeners>

    <test name="Playing Eleven Data Verification">
        <classes>
            <class name="testScript.RcbTeamTest">


            </class>

        </classes>

    </test>

</suite>